{% extends "data/base.html" %}

{% block content %}
  {% if workflow %}
    <h1>{{ workflow.name }}</h1>
      <b>Categorias:</b><br>
      {%for category in categories %}
        <ul>
          <a href="{% url 'workflow_list_by_category' category.slug %}">{{category.name}}</a>
        </ul>
      {% endfor %}
      <b>KeyWords:</b>{{workflow.keywords}}<br>
      <b>Description:</b>{{workflow.description}}<br>
      <b>Json:</b>{{workflow.json}}

      <form id="workflow_download" method="post" action="{% url 'workflow_download' workflow.id workflow.slug %}" enctype="multipart/form-data">
        {% csrf_token %}
         <input value="Download" type="submit">
      </form>
  {% else %}
    <h1>ERROR</h1>
    <p>{{error}}</p>
  {% endif %}
{% endblock %}
