{% extends "data/base.html" %}

{% block content %}
  <div id="sidebar" class="pure-u-1-5">
       <h3>Categories</h3>
       <ul>
           <li class="selected">
               <a href="{% url 'workflow_list' %}">All</a>
           </li>
           {% for c in list_categories %}
             <li>
                 <a href="{% url 'workflow_list_by_category' c.slug %}">{{c.name}}</a>
             </li>
           {% endfor %}
       </ul>
       <h3><a href="{% url 'upload:add_workflow' %}">Upload workflow</a></h3>
   </div>
   <div id="main" class="workflow-list pure-u-4-5">
    {% if category %}
      <h1>{{ category.name }}</h1>
    {% else %}
      <h1>Workflows</h1>
    {% endif %}

    {% for w in workflows %}
      <div class="item"><p>
        <a href="{% url 'workflow_detail' w.id w.slug %}">{{ w.name }}</a>:
        {{ w.description|truncatechars:255 }}</p>
      </div>
    {% endfor %}

    {% if workflows.has_other_pages %}
    <div id="pagination">
      <ul>
        {% if workflows.has_previous %}
          <li><a href="?page={{ workflows.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in workflows.paginator.page_range %}
          {% if workflows.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if workflows.has_next %}
          <li><a href="?page={{ workflows.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
    </div>
    {% endif %}
    <br><br><br>
</div>

{% endblock %}
